<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Employee Add</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/payroll">Payroll Home</a></li>
                    <li><i class="fa fa-square-o"></i>Add to the Payroll </li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <form class="form-horizontal" th:action="@{/register_payroll}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            New Employee Record
                        </header>
                        <br>
                        <div class="col-lg-6">
                            <section class="panel">
<!--                                <div class="form-group row">-->
<!--                                    <label for="ddlTitleEdit" class="col-sm-4 col-form-label">Title: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" id="ddlTitleEdit" name="title">-->
<!--                                            <option th:value="${null}">-SELECT-</option>-->
<!--                                            <option value="Mr.">Mr.</option>-->
<!--                                            <option value="Ms.">Ms.</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="txtInitialsEdit" class="col-sm-4 col-form-label">Initials: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="text" class="form-control" id="txtInitialsEdit" name="initials"-->
<!--                                               placeholder="Initials">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="txtSSNEdit" class="col-sm-4 col-form-label">ID-->
<!--                                        No.: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="text" class="form-control" id="txtSSNEdit"-->
<!--                                               placeholder="ID Number" name="idNumber">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label for="txtFirstnameEdit" class="col-sm-4 col-form-label">Firstname: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtFirstnameEdit" name="firstName"
                                               placeholder="Firstname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtLastnameEdit" class="col-sm-4 col-form-label">Lastname: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtLastnameEdit" name="lastName"
                                               placeholder="Lastname">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlGenderEdit" class="col-sm-4 col-form-label">Gender: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlGenderEdit" name="gender">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="MALE">MALE</option>
                                            <option value="FEMALE">FEMALE</option>
                                        </select>
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label for="txtSalaryEdit" class="col-sm-4 col-form-label">Salary: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="number" class="form-control" id="txtSalaryEdit" name="salary"-->
<!--                                               placeholder="Salary" step="1000.00">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label for="txtoverTimeRatesEdit" class="col-sm-4 col-form-label">Overtime Rate: </label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" id="txtoverTimeRatesEdit" name="overTimeRate"
                                               placeholder="OverTimeRate" step="100.00">
                                    </div>
                                </div>
                                <!--                                <div class="form-group row">-->
                                <!--                                    <label for="ddlNationalityEdit"-->
                                <!--                                           class="col-sm-4 col-form-label">Nationality: </label>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <select class="form-control" id="ddlNationalityEdit" name="countryid">-->
                                <!--                                            <option th:value="${null}">-SELECT-</option>-->
                                <!--                                            <option value="MALE">MALE</option>-->
                                <!--                                            <option value="FEMALE">FEMALE</option>-->
                                <!--                                        </select>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section class="panel">


                                <div class="form-group row">
                                    <label for="txtovernormalRatessEdit" class="col-sm-4 col-form-label">NormalRate: </label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" id="txtovernormalRatessEdit" name="normalRate"
                                               placeholder="normalRate" step="100.00">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtovermedicalAidEdit" class="col-sm-4 col-form-label">medicalAid: </label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" id="txtovermedicalAidEdit" name="medicalAid"
                                               placeholder="medicalAid" step="0.01">
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label for="txttaxEdit" class="col-sm-4 col-form-label">Tax: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="number" class="form-control" id="txttaxEdit" name="tax"-->
<!--                                               placeholder="Tax" step="">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label for="txtpositionEdit" class="col-sm-4 col-form-label">Position: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtpositionEdit" name="position"
                                               placeholder="position">
                                    </div>
                                </div>


                                <!--                                <div class="form-group row">-->
<!--                                    <label for="ddlMaritalStatusEdit" class="col-sm-4 col-form-label">Marital-->
<!--                                        Status: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" id="ddlMaritalStatusEdit" name="maritalStatus">-->
<!--                                            <option th:value="${null}">-SELECT-</option>-->
<!--                                            <option value="Married">Married</option>-->
<!--                                            <option value="Single">Single</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label for="txtEmailEdit" class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="txtEmailEdit" name="email"
                                               placeholder="Email">
                                    </div>
                                </div>

                                <!--                                <div class="form-group row">-->
                                <!--                                    <label for="fupImageEdit" class="col-sm-4 col-form-label">Select Image: </label>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <input type="file" class="form-control-file" id="fupImageEdit" name="photo"-->
                                <!--                                               placeholder="Select File">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-sm-4 col-form-label">Username</label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input class="form-control" name="username" placeholder="Username">-->
<!--                                    </div>-->
<!--                                </div>-->
                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <a href="/payroll/register_payroll" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>